@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/raleway/Raleway-Regular.eot");
  src: url("../fonts/raleway/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/raleway/Raleway-Medium.eot");
  src: url("../fonts/raleway/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/raleway/Raleway-Bold.eot");
  src: url("../fonts/raleway/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/roboto/Roboto-Regular.eot");
  src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-Regular.eot");
  src: url("../fonts/montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-Light.eot");
  src: url("../fonts/montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-ExtraLight.eot");
  src: url("../fonts/montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-ExtraLight.ttf") format("truetype"); }

body.lock {
  overflow: hidden; }

.wrapper {
  overflow: hidden;
  min-height: 100%; }

.blur-container {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  -o-transition: filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
  position: relative; }
  .blur-container:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    pointer-events: none;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease; }

.blur-container.active {
  -webkit-filter: blur(5px);
          filter: blur(5px); }
  .blur-container.active:before {
    background-color: rgba(0, 0, 0, 0.6); }

a {
  text-decoration: none;
  color: inherit; }

button > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0; }

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left; }
  .logo__title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px; }

.button {
  color: #ffffff;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  width: 170px;
  background-color: #998675;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0; }
  .button:hover {
    background-color: #c7b299;
    -webkit-box-shadow: inset 0 -3px 5px #736357;
            box-shadow: inset 0 -3px 5px #736357; }

.header {
  background-color: transparent;
  padding-top: 40px;
  position: absolute;
  width: 100%;
  z-index: 20;
  overflow: hidden; }
  .header__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__nav .nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
    -webkit-justify-content: right;
        -ms-flex-pack: right;
            justify-content: right;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300; }
    @media (max-width: 1000px) {
      .header__nav .nav-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        position: fixed;
        height: 100vh;
        overflow-y: scroll;
        width: 100%;
        left: -100%;
        top: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding-top: 100px;
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        font-size: 26px;
        overflow: hidden; } }
    @media (max-height: 500px) {
      .header__nav .nav-list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: left;
        -webkit-justify-content: left;
            -ms-flex-pack: left;
                justify-content: left;
        padding: 0 15px;
        padding-top: 100px; } }
    .header__nav .nav-list__item {
      margin-left: 30px;
      white-space: nowrap; }
      @media (max-width: 1000px) {
        .header__nav .nav-list__item {
          margin: 0; } }
      @media (max-height: 500px) {
        .header__nav .nav-list__item {
          width: 40%; } }
      .header__nav .nav-list__item:hover {
        color: #c7b299; }
    .header__nav .nav-list__item--search {
      margin-left: 60px;
      width: 24px;
      height: 24px; }
      @media (max-width: 1000px) {
        .header__nav .nav-list__item--search {
          margin: 0; } }
      .header__nav .nav-list__item--search:hover path {
        fill: #c7b299; }
    .header__nav .nav-list__item:first-child {
      margin-left: 0; }

@media (max-width: 1000px) {
  .header__nav {
    z-index: 20; }
    .header__nav .nav-list {
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .header__nav .nav-list__item:nth-child(odd) {
        margin-right: 200%;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .header__nav .nav-list__item:nth-child(even) {
        margin-left: 400%;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; } }

@media (max-width: 1000px) {
  .header__nav.active .nav-list {
    left: 0; }
    .header__nav.active .nav-list__item:nth-child(odd) {
      margin: 0;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .header__nav.active .nav-list__item:nth-child(even) {
      margin: 0;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; } }

.header__logo {
  -webkit-transition: margin 0.3s ease, opacity 0.5s ease, -webkit-transform 0.3s ease;
  transition: margin 0.3s ease, opacity 0.5s ease, -webkit-transform 0.3s ease;
  -o-transition: margin 0.3s ease, transform 0.3s ease, opacity 0.5s ease;
  transition: margin 0.3s ease, transform 0.3s ease, opacity 0.5s ease;
  transition: margin 0.3s ease, transform 0.3s ease, opacity 0.5s ease, -webkit-transform 0.3s ease;
  margin: 0;
  opacity: 1; }

.header__logo.active {
  margin: 0 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 15; }

.header__logo.hidden {
  opacity: 1;
  margin: 0 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
  @media (max-width: 1000px) {
    .header__logo.hidden {
      opacity: 0; } }

.header__logo.hidden.active {
  position: fixed;
  margin-top: 15px;
  top: 0;
  left: 0;
  opacity: 1; }

.burger {
  width: 40px;
  height: 30px;
  background-color: transparent;
  position: fixed;
  right: 3%;
  top: 5%;
  cursor: pointer;
  display: none;
  z-index: 50; }
  @media (max-width: 1000px) {
    .burger {
      display: block; } }
  .burger span, .burger:before, .burger:after {
    background-color: #c7b299; }
  .burger span, .burger:before, .burger:after {
    position: absolute;
    width: 100%;
    height: 2px; }
  .burger span {
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .burger:before {
    content: '';
    top: 0; }
  .burger:after {
    content: '';
    bottom: 0; }

.slick-slider.slick-dotted {
  margin: 0; }

.head-slider {
  position: relative; }
  .head-slider__arrow-prev {
    position: absolute;
    background-color: transparent;
    border: none;
    left: 5%;
    top: 50%;
    z-index: 5;
    -webkit-transform: translate(0, -50%) rotate(-180deg);
        -ms-transform: translate(0, -50%) rotate(-180deg);
            transform: translate(0, -50%) rotate(-180deg); }
    @media (max-width: 1000px) {
      .head-slider__arrow-prev {
        left: 15px; } }
    @media (max-width: 768px) {
      .head-slider__arrow-prev {
        display: none !important; } }
  .head-slider__arrow-next {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 5%;
    top: 50%;
    z-index: 5;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); }
    @media (max-width: 1000px) {
      .head-slider__arrow-next {
        right: 15px; } }
    @media (max-width: 768px) {
      .head-slider__arrow-next {
        display: none !important; } }
  .head-slider .slick-dots {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 40px; }
    .head-slider .slick-dots li {
      width: 11px;
      height: 11px;
      background-color: #ffffff;
      opacity: 0.5;
      border-radius: 50%; }
      .head-slider .slick-dots li button:before {
        content: ""; }
    .head-slider .slick-dots li.slick-active {
      background-color: transparent;
      border: 2px solid #d3c1ad;
      width: 15px;
      height: 15px; }
  .head-slider__item {
    background-image: url(../img/headerBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    min-height: 500px;
    position: relative;
    color: #ffffff;
    z-index: -2;
    outline: none; }
    .head-slider__item-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      z-index: 5;
      text-align: center; }
    .head-slider__item:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      background-color: rgba(17, 17, 17, 0.7);
      pointer-events: none; }
  .head-slider__subtitle {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500; }
    @media (max-width: 600px) {
      .head-slider__subtitle {
        font-size: 26px; } }
    @media (max-width: 450px) {
      .head-slider__subtitle {
        font-size: 23px; } }
  .head-slider__title {
    font-family: Raleway;
    font-size: 52px;
    font-weight: 700; }
    @media (max-width: 600px) {
      .head-slider__title {
        font-size: 36px; } }
    @media (max-width: 450px) {
      .head-slider__title {
        font-size: 30px; } }
  .head-slider__text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    max-width: 560px;
    margin: 0 auto;
    margin-bottom: 50px; }
    @media (max-width: 600px) {
      .head-slider__text {
        font-size: 14px;
        max-width: 90%; } }
    @media (max-width: 450px) {
      .head-slider__text {
        margin-bottom: 30px; } }

.services {
  padding: 80px 0; }
  .services__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 900px) {
      .services__wrapper {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around; } }
  .services .services-item {
    width: 23%;
    text-align: center; }
    @media (max-width: 900px) {
      .services .services-item {
        width: 40%;
        margin-bottom: 50px; } }
    @media (max-width: 550px) {
      .services .services-item {
        width: 80%; } }
    .services .services-item__img path {
      fill: #555555; }
    .services .services-item__title {
      color: #555555;
      font-family: Raleway;
      font-size: 22px;
      font-weight: 500; }
    .services .services-item__text {
      color: #8c8c8c;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      position: relative; }
      .services .services-item__text:after {
        content: '';
        width: 70px;
        height: 2px;
        background-color: #f1eee9;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        bottom: -30px;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease; }
    .services .services-item:hover .services-item__title {
      color: #c7b299; }
    .services .services-item:hover .services-item__img path {
      fill: #c7b299; }
    .services .services-item:hover .services-item__text:after {
      background-color: #c7b299;
      width: 90px; }

.slider {
  background-color: #fbfaf8;
  text-align: center;
  padding-top: 80px; }
  @media (max-width: 500px) {
    .slider {
      padding-top: 40px; } }
  .slider__item {
    -webkit-align-self: end;
        -ms-flex-item-align: end;
            align-self: end; }
    .slider__item img {
      width: 100%;
      height: auto; }
  .slider__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr; }
    @media (max-width: 500px) {
      .slider__wrapper {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr; } }
  .slider__item--left {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 3; }
    @media (max-width: 500px) {
      .slider__item--left {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        align-self: center; }
        .slider__item--left img {
          width: 80%; } }
  .slider__item--center {
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 5; }
    @media (max-width: 500px) {
      .slider__item--center {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4; } }
  .slider__item--right {
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 3; }
    @media (max-width: 500px) {
      .slider__item--right {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5;
        align-self: center; }
        .slider__item--right img {
          width: 80%; } }
  .slider__title {
    color: #555555;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 24px; }
    @media (max-width: 500px) {
      .slider__title {
        font-size: 25px; } }
  .slider__subtitle {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    max-width: 760px;
    margin: 0 auto;
    margin-bottom: 40px; }
    @media (max-width: 500px) {
      .slider__subtitle {
        margin-bottom: 0; } }

.text-boxes {
  padding: 50px 0;
  margin-top: -8px;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%); }
  .text-boxes__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 700px) {
      .text-boxes__row {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
  .text-boxes__text-wrapper {
    text-align: left; }
    @media (max-width: 700px) {
      .text-boxes__text-wrapper {
        width: 100%; } }
  .text-boxes__title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 28px;
    font-weight: 400; }
    @media (max-width: 768px) {
      .text-boxes__title {
        font-size: 24px; } }
    .text-boxes__title .beige {
      color: #c7b299; }
  .text-boxes__subtitle {
    color: #615855;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300; }
    @media (max-width: 768px) {
      .text-boxes__subtitle {
        font-size: 16px; } }
  @media (max-width: 700px) {
    .text-boxes__button {
      margin: 0 auto;
      margin-top: 15px; } }

.latest-project {
  text-align: center;
  padding-top: 80px; }
  .latest-project__title {
    color: #555555;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 400; }
  .latest-project__subtitle {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    max-width: 760px;
    margin: 0 auto;
    margin-bottom: 40px; }
  .latest-project .latest-project__nav-burger {
    position: relative;
    width: 40px;
    height: 25px;
    display: none;
    cursor: pointer;
    left: 15px; }
    @media (max-width: 768px) {
      .latest-project .latest-project__nav-burger {
        display: block; } }
    .latest-project .latest-project__nav-burger span {
      position: absolute;
      top: 0;
      width: 100%;
      height: 3px;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      background-color: #c7b299;
      -webkit-transition: width 0.3s ease;
      -o-transition: width 0.3s ease;
      transition: width 0.3s ease;
      left: 0; }
    .latest-project .latest-project__nav-burger:after {
      content: "";
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: 70%;
      height: 3px;
      background-color: #c7b299;
      -webkit-transition: width 0.3s ease;
      -o-transition: width 0.3s ease;
      transition: width 0.3s ease;
      left: 0; }
    .latest-project .latest-project__nav-burger:before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 40%;
      height: 3px;
      background-color: #c7b299;
      -webkit-transition: width 0.3s ease;
      -o-transition: width 0.3s ease;
      transition: width 0.3s ease;
      left: 0; }
  .latest-project .latest-project__nav-burger.active:after, .latest-project .latest-project__nav-burger.active:before {
    width: 100%; }
  .latest-project__nav-wrapper {
    position: relative; }
    @media (max-width: 768px) {
      .latest-project__nav-wrapper {
        text-align: left; } }
  .latest-project__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 768px) {
      .latest-project__nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        position: absolute;
        z-index: 10;
        left: -120px;
        top: 5px;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        visibility: hidden;
        -webkit-transition-delay: visibility 0.3s;
             -o-transition-delay: visibility 0.3s;
                transition-delay: visibility 0.3s; } }
  @media (max-width: 768px) {
    .latest-project__nav.active {
      opacity: 1;
      visibility: visible;
      left: 15px; } }
  .latest-project__nav-item {
    margin-right: 10px; }
    @media (max-width: 768px) {
      .latest-project__nav-item {
        margin: 0; } }
    .latest-project__nav-item a {
      color: #8c8c8c;
      padding: 10px 25px;
      border: 1px solid #8c8c8c;
      border-radius: 5px;
      background-color: transparent;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 300; }
      @media (max-width: 768px) {
        .latest-project__nav-item a {
          border: none;
          display: block;
          border-bottom: 1px solid black;
          border-radius: 0;
          padding: 15px 25px;
          font-size: 18px;
          color: #fff; } }
      .latest-project__nav-item a:hover {
        background-color: #c7b299;
        color: #fff;
        border: 1px solid transparent; }
  .latest-project__nav-item:last-child {
    margin-right: 0; }
  .latest-project .project-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px; }
    .latest-project .project-list .project-item {
      width: 30%;
      margin-bottom: 30px; }
      @media (max-width: 768px) {
        .latest-project .project-list .project-item {
          width: 49%; } }
      @media (max-width: 550px) {
        .latest-project .project-list .project-item {
          width: 100%; } }
      .latest-project .project-list .project-item__img {
        width: 100%;
        position: relative; }
        .latest-project .project-list .project-item__img img {
          width: 100%;
          height: auto;
          -webkit-filter: brightness(1);
                  filter: brightness(1);
          -webkit-transition: -webkit-filter 0.3s ease;
          transition: -webkit-filter 0.3s ease;
          -o-transition: filter 0.3s ease;
          transition: filter 0.3s ease;
          transition: filter 0.3s ease, -webkit-filter 0.3s ease; }
        .latest-project .project-list .project-item__img .lupa {
          position: absolute;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          opacity: 0;
          left: 50%;
          -webkit-transition: opacity 0.3s ease;
          -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease; }
          .latest-project .project-list .project-item__img .lupa path {
            fill: #fff; }
          .latest-project .project-list .project-item__img .lupa:hover path {
            fill: #c7b299; }
      .latest-project .project-list .project-item__text-wrapper {
        padding: 30px;
        background-color: #fbfaf8;
        position: relative;
        width: 100%;
        text-align: left;
        margin-top: -8px; }
        @media (max-width: 550px) {
          .latest-project .project-list .project-item__text-wrapper {
            padding: 15px; } }
        .latest-project .project-list .project-item__text-wrapper:before {
          position: absolute;
          content: "";
          top: -8px;
          left: 20px;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #fbfaf8; }
      .latest-project .project-list .project-item__title {
        color: #c7b299;
        font-family: Raleway;
        font-size: 20px;
        font-weight: 500; }
      .latest-project .project-list .project-item__subtitle {
        color: #d1d1d1;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        margin-top: 15px; }
      .latest-project .project-list .project-item:hover .project-item__img img {
        -webkit-filter: brightness(0.5);
                filter: brightness(0.5); }
      .latest-project .project-list .project-item:hover .project-item__img .link, .latest-project .project-list .project-item:hover .project-item__img .lupa {
        opacity: 1; }
      .latest-project .project-list .project-item:hover .project-item__text-wrapper {
        background-color: #362f2d; }
        .latest-project .project-list .project-item:hover .project-item__text-wrapper:before {
          border-bottom: 10px solid #362f2d; }
      .latest-project .project-list .project-item:hover .project-item__title {
        color: #fff; }
      .latest-project .project-list .project-item:hover .project-item__subtitle {
        color: #c7b299; }

.excellent-mobile__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px; }
  @media (max-width: 900px) {
    .excellent-mobile__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.excellent-mobile__img {
  width: 40%; }
  @media (max-width: 900px) {
    .excellent-mobile__img {
      width: 50%; } }
  @media (max-width: 500px) {
    .excellent-mobile__img {
      width: 70%; } }
  .excellent-mobile__img img {
    width: 100%;
    height: auto;
    position: relative;
    bottom: -7px; }

.excellent-mobile__content {
  width: 60%; }
  @media (max-width: 900px) {
    .excellent-mobile__content {
      width: 100%; } }

.excellent-mobile__title {
  color: #555555;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 400;
  margin-top: 115px; }
  @media (max-width: 1000px) {
    .excellent-mobile__title {
      margin-top: 60px; } }
  @media (max-width: 900px) {
    .excellent-mobile__title {
      margin-top: 0;
      text-align: center; } }

.excellent-mobile p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #8c8c8c;
  margin-top: 40px; }
  @media (max-width: 1000px) {
    .excellent-mobile p {
      margin-top: 20px; } }

.excellent-mobile__list {
  padding-left: 100px;
  margin-top: 45px; }
  @media (max-width: 1000px) {
    .excellent-mobile__list {
      margin-top: 25px; } }
  @media (max-width: 768px) {
    .excellent-mobile__list {
      padding-left: 50px; } }

.excellent-mobile__list-item {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  color: #8c8c8c;
  position: relative;
  margin-bottom: 10px; }
  .excellent-mobile__list-item:before {
    content: '';
    position: absolute;
    left: -50px;
    top: 0;
    width: 20px;
    height: 20px;
    background-image: url(../img/chekmarkIcon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    @media (max-width: 768px) {
      .excellent-mobile__list-item:before {
        left: -30px; } }

.counters {
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%); }
  @media (max-width: 768px) {
    .counters {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#211b19), to(#4e3427));
      background-image: -o-linear-gradient(top, #211b19 0%, #4e3427 100%);
      background-image: linear-gradient(to bottom, #211b19 0%, #4e3427 100%); } }
  .counters__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 60px 0; }
    @media (max-width: 768px) {
      .counters__row {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        padding-bottom: 30px; } }
  .counters .counter-item {
    width: 15%;
    text-align: center; }
    @media (max-width: 768px) {
      .counters .counter-item {
        width: 30%;
        margin-bottom: 60px; } }
    @media (max-width: 550px) {
      .counters .counter-item {
        width: 100%; } }
    .counters .counter-item__img {
      margin: 0 auto;
      max-width: 60px;
      max-width: 60px; }
      .counters .counter-item__img img {
        width: 80%;
        height: auto; }
    .counters .counter-item__number {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: 200;
      margin-top: 10px; }
    .counters .counter-item__title {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      color: #c7b299;
      position: relative; }
      .counters .counter-item__title:after {
        content: '';
        width: 30px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        bottom: -30px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
                transform: translate(-50%, 0); }

.partners {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: -2; }
  .partners:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    pointer-events: none;
    z-index: -1; }
  .partners__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 150px 0; }
    @media (max-width: 1000px) {
      .partners__wrapper {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
    @media (max-width: 600px) {
      .partners__wrapper {
        padding-top: 100px;
        padding-bottom: 50px; } }
  .partners__item {
    text-align: center; }
    @media (max-width: 1000px) {
      .partners__item {
        width: 50%;
        margin-bottom: 50px; } }
    @media (max-width: 600px) {
      .partners__item {
        width: 100%; } }

.recent-post {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
  overflow: hidden;
  position: relative; }
  .recent-post__arrows {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 60px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .recent-post__arrow-prev {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    cursor: pointer;
    margin: 0 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .recent-post__arrow-prev path {
      fill: #8c8c8c; }
  .recent-post__arrow-next {
    cursor: pointer;
    margin: 0 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .recent-post__arrow-next path {
      fill: #c7b299; }
  .recent-post__title {
    color: #555555;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 400; }
  .recent-post__subtitle {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    max-width: 760px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px; }
  .recent-post .post-item {
    position: relative;
    margin: 0 15px; }
    @media (max-width: 700px) {
      .recent-post .post-item {
        margin: 0 10px; } }
    .recent-post .post-item__img {
      position: relative;
      z-index: -1; }
      .recent-post .post-item__img:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: #000;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .recent-post .post-item__img img {
        width: 100%;
        height: auto; }
    .recent-post .post-item__date {
      position: absolute;
      width: 50px;
      height: 60px;
      top: 20px;
      left: 20px;
      color: #fff;
      text-align: center; }
      .recent-post .post-item__date-num {
        width: 100%;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 300;
        line-height: 35px;
        border-radius: 3px 3px 0 0;
        background-color: #363636; }
      .recent-post .post-item__date-month {
        width: 100%;
        line-height: 25px;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        border-radius: 0 0 3px 3px;
        background-color: #252525; }
    .recent-post .post-item__content {
      width: 100%;
      position: relative;
      top: -8px;
      padding: 30px 0 30px 30px;
      border: 1px solid #f8f8f8;
      background-color: #fff;
      text-align: left;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .recent-post .post-item__title {
      font-family: Raleway;
      font-size: 20px;
      font-weight: 500;
      color: #555555; }
    .recent-post .post-item__text {
      margin-top: 20px;
      color: #8c8c8c;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      max-width: 300px; }
    .recent-post .post-item__button {
      color: #c7b299;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      margin-top: 25px;
      position: relative;
      background-color: transparent;
      border: none;
      cursor: pointer; }
      .recent-post .post-item__button:after {
        position: absolute;
        right: -10px;
        content: "";
        top: 50%;
        -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-left: 8px solid #c7b299;
        border-bottom: 5px solid transparent; }
  .recent-post .post-item:hover .post-item__content {
    background-color: #362f2d;
    border: 1px solid transparent; }
  .recent-post .post-item:hover .post-item__title {
    color: #c7b299; }
  .recent-post .post-item:hover .post-item__text {
    color: #fff; }
  .recent-post .post-item:hover .post-item__img:before {
    opacity: 0.5; }
  .recent-post .post-item:hover .post-item__date-num {
    background-color: #c7b299; }
  .recent-post .post-item:hover .post-item__date-month {
    background-color: #a48d72; }

.footer {
  background-color: #191919;
  color: #fff;
  padding: 80px 0 50px 0; }
  .footer__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 900px) {
      .footer__wrapper {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly; } }
  .footer__text {
    width: 23%; }
    @media (max-width: 900px) {
      .footer__text {
        width: 40%; } }
    @media (max-width: 550px) {
      .footer__text {
        width: 80%; } }
    .footer__text:hover .footer__text-p {
      color: #c7b299; }
    .footer__text-p {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      color: #555555;
      margin-top: 20px;
      margin-bottom: 30px; }
    .footer__text-button {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      position: relative;
      background-color: transparent;
      border: none;
      color: #fff;
      cursor: pointer; }
      .footer__text-button:after {
        position: absolute;
        right: -10px;
        content: "";
        top: 50%;
        -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-left: 8px solid #fff;
        border-bottom: 5px solid transparent; }
  .footer .footer-post {
    width: 23%; }
    @media (max-width: 900px) {
      .footer .footer-post {
        width: 40%; } }
    @media (max-width: 550px) {
      .footer .footer-post {
        width: 80%; } }
    .footer .footer-post__title {
      margin-top: 25px;
      font-family: Raleway;
      font-size: 24px;
      font-weight: 700; }
    .footer .footer-post__item {
      position: relative;
      padding: 10px 0; }
      .footer .footer-post__item:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #252525;
        bottom: 0;
        left: 0; }
      .footer .footer-post__item-text {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        color: #555555; }
      .footer .footer-post__item-date {
        color: #363636;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 300;
        line-height: 20px; }
      .footer .footer-post__item:hover .footer-post__item-date {
        color: #fff; }
      .footer .footer-post__item:hover .footer-post__item-text {
        color: #c7b299; }
  .footer .footer-twitter {
    width: 23%; }
    @media (max-width: 900px) {
      .footer .footer-twitter {
        width: 40%; } }
    @media (max-width: 550px) {
      .footer .footer-twitter {
        width: 80%; } }
    .footer .footer-twitter__title {
      margin-top: 25px;
      font-family: Raleway;
      font-size: 24px;
      font-weight: 700; }
    .footer .footer-twitter__item {
      padding: 10px 0;
      position: relative; }
      .footer .footer-twitter__item:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #252525;
        bottom: 0;
        left: 0; }
      .footer .footer-twitter__item:hover .footer-twitter__item-date {
        color: #fff; }
      .footer .footer-twitter__item:hover .footer-twitter__item-text {
        color: #c7b299; }
      .footer .footer-twitter__item-text {
        color: #555555;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px; }
        .footer .footer-twitter__item-text a {
          color: #00bff3; }
      .footer .footer-twitter__item-date {
        color: #363636;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 300;
        line-height: 20px; }
  .footer .footer-dribbble {
    width: 23%; }
    @media (max-width: 900px) {
      .footer .footer-dribbble {
        width: 40%; } }
    @media (max-width: 550px) {
      .footer .footer-dribbble {
        width: 80%; } }
    .footer .footer-dribbble__title {
      font-family: Raleway;
      font-size: 24px;
      font-weight: 700;
      margin-top: 25px;
      margin-bottom: 20px; }
    .footer .footer-dribbble__items {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .footer .footer-dribbble__item {
      width: 48%; }
      .footer .footer-dribbble__item img {
        width: 100%;
        height: auto; }

#startedForm .popup__content {
  background-color: #fff;
  border-radius: 20px;
  max-width: 550px;
  padding: 10px; }
  @media (max-width: 600px) {
    #startedForm .popup__content {
      max-width: 400px; } }
  #startedForm .popup__content .popup__title {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400px;
    text-align: center;
    color: #555555;
    margin-bottom: 30px; }
  #startedForm .popup__content .popup__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    #startedForm .popup__content .popup__form input {
      max-width: 500px;
      width: 100%;
      margin: 5px auto;
      border-radius: 10px;
      padding: 0 10px; }
    #startedForm .popup__content .popup__form-button {
      color: #ffffff;
      font-family: Raleway;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      width: 170px;
      background-color: #998675;
      -webkit-box-shadow: inset 0 -3px 0 #736357;
              box-shadow: inset 0 -3px 0 #736357;
      border-radius: 3px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      padding: 5px;
      margin-top: 30px;
      margin-bottom: 10px; }
      #startedForm .popup__content .popup__form-button:hover {
        background-color: #c7b299;
        -webkit-box-shadow: inset 0 -3px 5px #736357;
                box-shadow: inset 0 -3px 5px #736357; }

.popup.open {
  opacity: 1;
  visibility: visible; }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 500; }
  .popup__body {
    min-height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 10px; }
  .popup__content {
    position: relative;
    max-width: 800px;
    width: 100%;
    background-color: #fff; }
  .popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    font-family: sans-serif; }
  .popup__img img {
    display: block;
    width: 100%;
    height: auto; }

.popup .post-item {
  position: relative;
  margin: 0 15px;
  margin-top: 15px; }
  .popup .post-item__img {
    position: relative;
    z-index: 1; }
    .popup .post-item__img:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      background-color: #000;
      opacity: 0;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .popup .post-item__img img {
      width: 100%;
      height: auto; }
  .popup .post-item__date {
    position: absolute;
    width: 50px;
    height: 60px;
    top: 20px;
    left: 20px;
    color: #fff;
    text-align: center;
    z-index: 10; }
    .popup .post-item__date-num {
      width: 100%;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 300;
      line-height: 35px;
      border-radius: 3px 3px 0 0;
      background-color: #363636; }
    .popup .post-item__date-month {
      width: 100%;
      line-height: 25px;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 400;
      border-radius: 0 0 3px 3px;
      background-color: #252525; }
  .popup .post-item__content {
    width: 100%;
    position: relative;
    top: -8px;
    padding: 30px 0 30px 30px;
    border: 1px solid #f8f8f8;
    background-color: #fff;
    text-align: left;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .popup .post-item__title {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    color: #555555; }
  .popup .post-item__text {
    margin-top: 20px;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px; }
